
html{
    scroll-snap-type: y mandatory; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    margin:0;
    width: 100%;
    height: 100%;
  

}
/*Default style Nav*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}

.d-menu{
    display:none;
}

.menu{
    display:none;
}

.nav-list {
    margin-right: 20px;
    background-color: rgba(255, 166, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.nav-list li {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }

.nav-list li a {
    text-decoration: none;
    color: #162B6F;
    font-family: 'Avenir';
    padding: 10px;
}


.nav-list li a:hover {
background-color: #162b6f26;
border-radius: 30px;
padding: 10px;
}

.h-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 166, 0, 0)
    
}

.name{
    font-family: 'Oswald';
    font-size: 72px;
    background-color: rgba(255, 255, 255, 0);
    color: #162B6F;
    position: absolute;
    bottom: 0px;
}

.school-info {
    font-size: 16px;
    bottom: 30px;
    background-color: rgba(0, 128, 0, 0);
    margin-top: 100px;
    color: #162B6F;
}

.words {
    background-color: rgba(255, 255, 0, 0);
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
}

/*Default style Nav*/


/*MAIN*/
main{
    background-color:rgb(77, 36, 171);
    width: 100vw;
    height: 100vh;
   
    
}
/*MAIN*/

.section1 {
width: 100%;
height: 178.3vh;
background-color:#11284C;

margin: 0;
padding:0;
}

.banner{
    width: 100%;
    height: 22%;
    border: 2px solid black;
    position: absolute;
    scroll-snap-align: center;
    top:21%;
    background-image: url('images/header_banner_uiuc.png');
    background-position: center;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}


    .about-dash{
        border: 0px solid rgb(213, 34, 34);
        width: 99.7%;
        height: 57vh;
        position: absolute;
        top: 43%;
        display:flex;
        justify-content: space-evenly;
        
    }
  
    /*Skills Graph*/
   .skills-graph{
    position: absolute;
    left:0;
    height: 100%;
    width: 58%;
    background-color: rgb(255, 253, 253);
   }

  

   .skills-container{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: right;
        border: 1px solid #0F1A2B;
        background-color: #0F1A2B;
        height: 17%;
        width: 100%;
        
   }

   .skills-container img{
    margin-left: 3.3%;
    margin-right:3.3%;

}



.skillsg{
    position: absolute;
    top:0;
    width: 100%;
    height: 83%;
    background-color: #0F1A2B;
    
    
}

.skill-title{
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Oswald';
    letter-spacing: 2px;
    border:0px solid;
    color: white;
}

.sk-graph{
    width:100%;
    height: 78.2%;
    background-color: #0F1A2B;
    position: absolute;
    right:0;
    border-radius: 15px;
    color: white;
}

.y-axis{
   width: 15%;
   height: 103%;
   position: absolute;
   left: 0;
   border: 0px solid white;
   font-size: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin:0;
   word-wrap: break-word;
  bottom:0%;
}

.y-axis :nth-child(1){
    position: absolute;
   bottom:0%;
   margin: 0;
}

.y-axis :nth-child(2){
    position: absolute;
   bottom:33%;
   margin: 0;

}

.y-axis :nth-child(3){
    position: absolute;
   bottom:66%;
   margin: 0;
}

.y-axis :nth-child(4){
    position: absolute;
   bottom:92%;
   margin: 0;
}


.graph{
    position: absolute;
    left:15%;
    width: 85%;
    height: 100%;
    background-color:#0F1A2B;
    margin: 0;
    border-left: 2px solid #E84A27;
    border-bottom: 2px solid #E84A27;
}

.graph :nth-child(1){
    position: absolute;
    bottom:0;
    left:5%;
   height: 100%;
   width: 8%;
   background-color: #ffffff;
   border-radius: 20px 20px 0px 0px;
}

.graph :nth-child(2){
    position: absolute;
    bottom:0;
    left:22%;
    height: 100%;
    width: 8%;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
}

.graph :nth-child(3){
    position: absolute;
    bottom:0;
    left:39%;
   height: 90%;
   width: 8%;
   background-color: #ffffff;
   border-radius: 20px 20px 0px 0px;
}

.graph :nth-child(4){
    position: absolute;
    bottom:0;
    left:57%;
    height: 50%;
    width: 8%;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
}

.graph :nth-child(5){
    position: absolute;
    bottom:0;
    left:73.8%;
   height: 80%;
   width: 8%;
   background-color: #ffffff;
   border-radius: 20px 20px 0px 0px;
}

.graph :nth-child(6){
    position: absolute;
    bottom:0;
    left:89%;
   height: 40%;
   width: 8%;
   background-color: #ffffff;
   border-radius: 20px 20px 0px 0px;
}


.skills-container img:hover {
   cursor: pointer;
   transform: scale(105%)
}

/*Courses*/
.courses{
    position: absolute;
    right:0;
    height: 100%;
    width: 42%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
   }


.course-title{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 22px;
    position: absolute;
    top: 5%;
    border-radius: 30px;
    background-color: #0F1A2B;
    color:white;
    box-shadow: 1px 1px 10px black;
    font-family: 'Oswald';
}

.course-title:hover{
    cursor: pointer;
    background-color: white;
    color:  #0F1A2B;
    box-shadow: inset 0px 0px 5px black;
    border:none;
}

.course-title:active{
    background-color: #0F1A2B;
    color:white;
    box-shadow: 1px 1px 10px black;
}


.course-nav {
    width: 100%;
    position: absolute;
    top:20%;
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

.course-nav div {
    margin-right: 10px;
    margin-left: 15px;
    box-shadow: inset 0 0 1px #0F1A2B;
    padding: 10px;
    border-radius: 20px;
    font-size:15px;
    font-family: 'Oswald';
   
}

.course-nav div:hover{
    background-color:#0F1A2B;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 5px  #0F1A2B;
   
 
}

.all-courses {
    width: 90%;
    height: 60%;
    position: absolute;
    top: 34%;
    box-shadow: 1px 1px 15px  black;
    border-radius: 8px;
}


.all-list{
    width: 100%;
    list-style-type: none;
    margin:0;
    padding: 0;

   
}

.all-list li {
    padding: 10px;
    border: .5px solid;
    display: none;
    font-size: 25px;
    font-family: 'Oswald';
    color:#0F1A2B;
}

/*Summary*/

.summary-dash{
    background-color:#0F1A2B;
    width: 100%;
    height: 78.9%;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px black solid;
    scroll-snap-align: center;
}

.summary-box{
    width: 94%;
    height: 85%;
    background-color:#ffffff;
    border-radius: 25px;
   
}

.summary-header{
    border: 0px solid black;
    font-family: 'Oswald';
    background-color: #0F1A2B;
    color:white;  
    text-shadow: 1px 1px 2px white;
    text-align: center; 
    width: 36%;
    padding:5px;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 15px;
    border-radius: 0 0px 20px 0;
    box-shadow: inset 2px 2px 10px black;
    
}

.personal-paragraph{
    border: 3px solid black;
    width: 28%;
    text-align: center;
    word-break: break-all;
    padding: 22px;
    font-size: 19px;
    border-radius: 21px;
   position: absolute;
   top: 27.5%;
   left: 4.2%;
   height: 54%;
    border-top: none;
  box-shadow: 1px 1px 10px;
  display: flex;
  align-items: center;
   
}

.about-dash-scroll{
    position: absolute;
    top: 10%;
    width: 55%;
    height: 78%;
    right: 5%;
    box-shadow: inset 1px 1px 12px   #0F1A2B;
    border-radius: 15px;
    background-color:  #0f1a2b58;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    white-space: nowrap;
    
}

.about-dash-scroll::-webkit-scrollbar {
    width: 10px;
  }

  .about-dash-scroll::-webkit-scrollbar-track {
    background-color: #11284C;
  }
  .about-dash-scroll::-webkit-scrollbar-thumb {
    background: #667a9cfc;
    border-radius: 40px;
    
  }
  

.about-dash-scroll:hover{
    box-shadow: 1px 1px 10px black;
    transform: scale(101%);
    transition: transform .1s linear;
}

.skills-dash-scroll{
    width: 99.3%;
    height: 99%;
    background-color: transparent;
    border-radius: 0px 0px 0px 12px;
    border: black 0px solid;
    scroll-snap-align: center;
   
}

.ab-slides{
    width: 99.5%;
    height: 200vh;
    border: 2px solid rgb(230, 0, 0);

}

.sk-ttl-dash{
    position: absolute;
    top: -3%;
    padding: 15px;
    text-align: center;
    width: 98%;
    border: 0px solid;
    color: black;
    font-family: 'Oswald';
    font-size: 35px;
    letter-spacing: 3px;
 
}

.paragraph-skills{
    width: 45.5%;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    padding: 15px;
    font-size: 19px;
    border-radius: 15px;
   position: absolute;
   top: 21%;
   left: 0.5%;
   height: 58%;
    border-top: none;
  box-shadow: 1px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.paragraph-skills2{
    width: 45.5%;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    padding: 15px;
    font-size: 19px;
    border-radius: 15px;
   position: absolute;
   top: 21%;
   right:0.5%;
   height: 58%;
    border-top: none;
  box-shadow: 1px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.lead-ttl-dash{
    position: absolute;
    top: 97%;
    padding: 15px;
    text-align: center;
    width: 100%;
    color: black;
    font-family: 'Oswald';
    font-size: 35px;
    letter-spacing: 3.5px;
 
}

.paragraph-skills3,
.paragraph-skills4,
.paragraph-skills5{
    width: 40%;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    padding: 15px;
    font-size: 19px;
    border-radius: 15px;


   height: 58%;
    border-top: none;
  box-shadow: 1px 1px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.para-container{
    position: absolute;
    top:120%;
    display: flex;
    padding: 2px;
}