html{
    scroll-snap-type: y mandatory; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
 
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.d-menu {
    display: none;
}

.menu {
    display: none;
}

.nav-list {
    margin-right: 20px;
    background-color: rgba(255, 166, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.nav-list li {
    position: relative;
    display: inline-block;
    margin-right: 25px;

}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

.nav-list li a {
    text-decoration: none;
    color: #162B6F;
    font-family: 'Avenir';
    padding: 10px;
}


.nav-list li a:hover {
    background-color: #162b6f26;
    border-radius: 30px;
    padding: 10px;
}

.h-info {
    position: relative;
    display: flex;
    flex-wrap: no-wrap;
    background-color: rgba(255, 166, 0, 0)
}

.name {
    font-family: 'Oswald';
    font-size: 72px;
    background-color: rgba(255, 255, 255, 0);
    color: #162B6F;
    position: absolute;
    bottom: 0px;
}

.school-info {
    font-size: 16px;
    bottom: 30px;
    background-color: rgba(0, 128, 0, 0);
    margin-top: 100px;
    color: #162B6F;
}

.words {
    background-color: rgba(255, 255, 0, 0);
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
}

/*Main Section*/

main {
    height: 100%;
    width: 100%;
}

@keyframes sliding-background {

    0%,
    100% {
        background-position: 0 90%;
    }

    50% {
        background-position: 100% 30%;
    }
}



.section-1 {
    height: 100vh;
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-position: center;
    background-size: cover;
    animation: sliding-background 35s linear infinite;
    display: flex;
    align-items: center;
    scroll-snap-align: center;
}



/*Popout Text 'Future'*/


.future {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 260px;
    /* Responsive font size */
    font-weight: bold;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    /* This makes the cutout text possible */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    font-family: "Montserrat";
    letter-spacing: 1vw;
    text-shadow: 10px 0px rgb(0, 0, 0);

}

.future2 {
    color: white;
    font-size: 250px;
    /* Responsive font size */
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    font-family: "Montserrat";
    letter-spacing: 20px;
    position: absolute;
    right: 12px;
    margin-top: 160px;
}

.section-2 {
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    animation: sliding-background 35s linear infinite;
    scroll-snap-align: center;

}

.page-1 {
    position: absolute;
    width: 80%;
    height: 100vh;
    background: rgba(212, 211, 211, 0.486);
    margin-left: 170px;
    border: 2px dotted rgba(255, 0, 0, 0);
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

}

.points {
    width: 100%;
    height: 77%;
    border: 3px dotted rgba(238, 255, 0, 0);
    bottom: 0;
    position: absolute;

}

.point-boxes {
    height: 100%;
    border: 2px rgba(0, 128, 0, 0) dotted;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;

}

.box {
    width: 100%;
    height: 23%;
    border: rgba(255, 0, 0, 0) dotted 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    color: #ffffff;
    box-shadow: inset 0 0 15px black;
    transition: background-color 2.1s ease;
    transition: color 1s ease;
    transition: transform .1s ease-out;

}

.box:hover {
    transform: scale(108%);
    background-color: rgb(255, 255, 255);
    color: #162B6F;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}

.points-info {
    height: 100%;
    width: 65%;
    border: dotted rgba(255, 192, 203, 0) 2px;
    position: absolute;
    right: 0;
}

.control-systems {
    height: 100%;
    min-width: 100%;
    border: dotted rgba(38, 0, 255, 0) 2px;
    position: absolute;
    right: 0;
    display: none;

}

.simulation {
    height: 100%;
    width: 100%;
    border: dotted rgba(38, 0, 255, 0) 2px;
    position: absolute;
    right: 0;
    display: none;

}


.fluid-mechanics {
    height: 100%;
    width: 100%;
    border: dotted rgba(217, 255, 192, 0) 2px;
    position: absolute;
    right: 0;
    display: none;

}

.applied-structures {
    height: 100%;
    width: 100%;
    border: dotted rgba(217, 255, 192, 0) 2px;
    position: absolute;
    right: 0;
    display: none;
}

.c-pic1 {
    position: absolute;
    border: #ff000000 dotted 2px;
    width: 100%;
    height: 30%;
    box-shadow: 1px 1px 10px black;
    transform: scale(81%);
    right: 68px;
    top: 0;
    border: white 1px solid;
}

.c-pic2 {
    position: absolute;
    border: rgba(255, 0, 0, 0) dotted 2px;
    width: 100%;
    height: 40%;
    bottom: 38.2%;
    transform: scale(82%);
    box-shadow: 1px 1px 10px black;
    right: 52px;
    border: white 1px solid;
}

.c-pic3 {
    position: absolute;
    border: rgba(255, 0, 0, 0) dotted 2px;
    width: 85%;
    height: 38%;
    bottom: 24.1%;
    transform: scale(69%);
    box-shadow: 1px 1px 10px black;
    left: 26.8%;
    border: 1px solid white;
}

.c-pic4 {
    position: absolute;
    width: 45%;
    height: 28%;
    top: -1%;
    transform: scale(89%);
    box-shadow: 1px 1px 10px black;
    right: -2%;
    border-radius: 8px;
}

.c-pic5 {
    position: absolute;
    width: 45%;
    height: 28%;
    bottom: 12px;
    transform: scale(105%);
    right: -2%;
    border-radius: 8px;
    right: 40px;
    box-shadow: 1px 1px 10px rgb(164, 164, 164);
}



.controls-bullets {
    border: 2px rgba(255, 0, 0, 0) dotted;
    position: absolute;
    bottom: 15px;
    width: 36%;
    height: 36%;
    left: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-position: center;
    background-size: cover;
    animation: sliding-background 500s linear infinite;
    z-index: -1;
}

.controls-bullets ul {
    position: absolute;
    border: none;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 71%;
    height: 80%;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-size: 16.5px;
    border-radius: 15px;
    color: #162B6F;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 13px rgb(0, 0, 0);
    white-space: normal;
}

.s-pic1 {

    position: absolute;
    border: rgb(238, 255, 0) solid 2px;
    width: 20%;
    height: 30%;
    left: 0;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    z-index: 1;

}

.s-pic2 {
    position: absolute;
    border: rgb(238, 255, 0) solid 2px;
    width: 50%;
    height: 30%;
    top: 0;
    left: 20%;
    box-shadow: 1px 1px 10px black;
    z-index: 0;
}

.s-pic3 {
    position: absolute;
    border: rgb(0, 255, 85) solid 2px;
    width: 20%;
    height: 30%;
    top: 31%;
    left: 24.5%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    z-index: 1;
}

.s-pic4 {
    position: absolute;
    border: rgb(0, 255, 85) solid 2px;
    width: 55%;
    height: 33%;
    top: 31%;
    right: 0;
    box-shadow: 1px 1px 10px black;
}

.s-pic5 {
    position: absolute;
    border: rgb(90, 0, 150) solid 2px;
    width: 18%;
    height: 28%;
    bottom: 6%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    left: 31%;
    z-index: 1;
}

.s-pic6 {
    position: absolute;
    border: rgb(90, 0, 150) solid 2px;
    width: 50%;
    height: 30%;
    bottom: 4%;
    right: 0;
    box-shadow: 1px 1px 10px black;
}

.simulation-bullets {
    border: 2px rgba(255, 0, 0, 0) dotted;
    position: absolute;
    bottom: 10px;
    width: 28%;
    height: 30%;
    left: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-position: center;
    background-size: cover;
    animation: sliding-background 500s linear infinite;
    z-index: -1;
}

.simulation-bullets ul {
    position: absolute;
    border: none;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 71%;
    height: 80%;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-size: 16.5px;
    border-radius: 15px;
    color: #162B6F;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 13px rgb(0, 0, 0);
    white-space: normal;
}

.f-pic1 {
    position: absolute;
    width: 38.5%;
    height: 53%;
    top: 5%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.f-pic2 {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 9.5%;
    top: 2%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

}

.f-pic3 {
    position: absolute;
    width: 58%;
    height: 45%;
    right: 1.5%;
    bottom: 2%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.fluid-mechanics-bullets {
    border: 2px rgba(255, 0, 0, 0) dotted;
    position: absolute;
    bottom: 15px;
    width: 36%;
    height: 36%;
    left: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-position: center;
    background-size: cover;
    animation: sliding-background 500s linear infinite;
}


.fluid-mechanics-bullets ul {
    border: none;
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 80%;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-size: 20px;
    border-radius: 15px;
    color: #162B6F;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 13px rgb(0, 0, 0);
    flex-wrap: wrap;
}

.a-pic1 {
    position: absolute;
    width: 22%;
    height: 38%;
    right: 33%;
    top: 0;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.a-pic2 {
    position: absolute;
    width: 38%;
    height: 52%;
    left: 1%;
    top: 2%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);

}



.a-pic4 {
    position: absolute;
    width: 30%;
    height: 45%;
    top: 0%;
    right: .5%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.a-vid {
    position: absolute;
    width: 58%;
    height: 50%;
    bottom: 3%;
    right: 1.5%;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}


.applied-structures-bullets {
    border: 2px rgba(255, 0, 0, 0) dotted;
    position: absolute;
    bottom: 15px;
    width: 36%;
    height: 36%;
    left: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    background-image: url('images/pexels-felix-mittermeier-2832084.jpg');
    background-position: center;
    background-size: cover;
    animation: sliding-background 500s linear infinite;
}


.applied-structures-bullets ul {
    border: none;
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 80%;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-size: 20px;
    border-radius: 15px;
    color: #162B6F;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 13px rgb(0, 0, 0);
    flex-wrap: wrap;
}

/*Fade-in Animation*/
@keyframes grow {
    0% {
        transform: scale(0%)
    }

    50% {
        transform: scale(108%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes shrink {
    0% {
        transform: scale(102%)
    }

    50% {
        transform: scale(106%)
    }

    100% {
        transform: scale(0%);
        display: none;
    }
}

